{# heredando header y footer#}
{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<h3>Reservar Cita</h3>
<hr>
    <div class="contenedor">
        <form class="3" action="/guardarCita/" method="post" enctype="multipart/form-data" id="frm_nuevo_cita">
          {% csrf_token %}
        <div class="row">
          <div class="row">
            <div class="form-group">
              <label for="id_paciente"> <b>Paciente</b></label> <br>
              <select  name="id_paciente"  id="id_paciente" data-live-search="true" data-live-search-style="startsWith" class="selectpicker"required>
                <option value=""> Seleccionar el paciente</option>
                {% for paciente in pacientes %}
                <option value="{{paciente.id}}">{{paciente.nombre}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-md-6">
              <b>Estado:</b>
              <br>
                <select name="estado" id="estado" class="form-control" required>
                    <option value="">--- Seleccione el estado ---</option>
                    <option value="A">Programada </option>
                    <option value="B">Cancelada </option>
                    <option value="C">Completada </option>
                </select>
              </div>
              <div class="col-md-6">
                <b>Fecha y Hora:</b>
                <br>
                <input type="datetime-local" name="fecha" id="fecha" value=""placeholder="Ingrese la Descripcion del curso" class="form-control" required>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">

              </div>
              <div class="col-md-6">
                <br>
                <br>
                <center>
                  <a href="/"
                  class="btn btn-success">
                    ATRAS
                  </a>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <button type="submit" name="button"
                    class="btn btn-primary">
                      &nbsp;&nbsp;&nbsp;GUARDAR&nbsp;&nbsp;&nbsp;
                    </button>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="reset" name="button" class="btn btn-danger">CANCELAR</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </center>
              </div>

          </div>

          </div>

        </form>

      </div>
      <script type="text/javascript">
          $("#frm_nuevo_cita").validate({
          rules:{
           "estado":{
             required:true
           },
            "fecha":{
              required: true
            },
            "paciente": {
              required: true
            },
          },
          messages:{
            "estado":{
              required:"DEbe seleccionar el estado",
            },
           "fecha":{
             required:"Ingrese la la fecha"
           },
           "paciente":{
             required: "Debe ingresar la edad"
           },
          },
          });

          // Agregamos una regla personalizada para validar solo letras
          $.validator.addMethod("lettersOnly", function(value, element) {
           return this.optional(element) || /^[a-zA-Z\sñáéíóúÁÉÍÓÚ]+$/.test(value);
          }, "Solo se permiten letras.");
          // Agregamos una regla personalizada para validar que el número no sea menor que cero
          $.validator.addMethod("minNumber", function(value, element, param) {
          return value >= param;
          }, $.validator.format("Ingrese un número mayor o igual a {0}"));
      </script>


        <script type="text/javascript">
          $(document).ready(function () {
            $('#tbl_cita').DataTable({
              dom: 'Bfrtip',
              buttons: [
                {
                  extend: 'pdfHtml5',
                  messageTop: 'REPORTES DE CLIENTES - DJANGO Y DATATABLES',
                  customize: function (doc) {
                    // Personaliza el documento PDF aquí
                    doc.styles.title = {
                      color: 'green',
                      fontSize: '30',
                      alignment: 'center'
                    };
                    doc.content[1].margin = [ 100, 0, 100, 0 ]; // Margen superior e inferior
                  },
                  className: 'btn-pdf', // Clase CSS personalizada para el botón PDF
                },
                {
                  extend: 'print',
                  title: 'Reportes de Clientes - Django y DataTables',
                  customize: function (win) {
                    // Personaliza la ventana de impresión aquí
                    $(win.document.body).css('font-size', '14px');
                    $(win.document.body).find('table').addClass('compact').css('font-size', 'inherit');
                  },
                  className: 'btn-print', // Clase CSS personalizada para el botón de impresión
                },
                {
                  extend: 'csv',
                  className: 'btn-csv', // Clase CSS personalizada para el botón CSV
                }
              ],
              language: {
                url: "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
              }
            });
          });
          </script>




    {% endblock %}
