{# heredando header y footer#}
{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<h3>Reservar Cita</h3>
<hr>
    <div class="contenedor">
        <form class="3" action="/guardarCita/" method="post" enctype="multipart/form-data" id="frm_nuevo_cita">
          {% csrf_token %}
        <div class="row">
          <div class="row">
            <div class="form-group">
              <b>Paciente</b><br>
              <select  name="id_paciente"  id="id_paciente" data-live-search="true" data-live-search-style="startsWith" class="selectpicker"required>
                <option value=""> Seleccionar el paciente</option>
                {% for paciente in pacientes %}
                <option value="{{paciente.id}}">{{paciente.nombre}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-md-6">
              <b>Estado:</b>
              <br>
                <select name="estado" id="estado" class="form-control" required>
                    <option value="">--- Seleccione el estado ---</option>
                    <option value="Programada">Programada </option>
                    <option value="Cancelada">Cancelada </option>
                    <option value="Completada">Completada </option>
                </select>
              </div>
              <div class="col-md-6">
                <b>Fecha y Hora:</b>
                <br>
                <input type="datetime-local" name="fecha" id="fecha" value=""placeholder="Ingrese la Descripcion del curso" class="form-control" required>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">

              </div>
              <div class="col-md-6">
                <br>
                <br>
                <center>
                  <a href="/"
                  class="btn btn-success">
                    ATRAS
                  </a>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <button type="submit" name="button"
                    class="btn btn-primary">
                      &nbsp;&nbsp;&nbsp;GUARDAR&nbsp;&nbsp;&nbsp;
                    </button>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="reset" name="button" class="btn btn-danger">CANCELAR</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </center>
              </div>

          </div>

          </div>

        </form>

      </div>
      <script type="text/javascript">
      $("#frm_nuevo_cita").validate({
          rules: {
              "estado": {
                  required: true
              },
              "fecha": {
                  required: true,
                  fechaActual: true // Utilizamos la regla personalizada "fechaActual"
              },
              "id_paciente": {
                  required: true
              },
          },
          messages: {
              "estado": {
                  required: "Debe seleccionar el estado",
              },
              "fecha": {
                  required: "Ingrese la fecha correcta",
                  fechaActual: "La fecha debe ser desde la actual" // Mensaje de error personalizado para la regla "fechaActual"
              },
              "id_paciente": {
                  required: "Debe elegir el paciente"
              },
          },
      });
  </script>
  <script type="text/javascript">
    $.validator.addMethod("fechaActual", function(value, element) {
      var fechaActual = new Date();
      var fechaIngresada = new Date(value);
      var fechaLimite = new Date();
      fechaLimite.setFullYear(fechaActual.getFullYear() + 6); // Ajustamos el año límite a 6 años en el futuro (2030)
      return fechaActual <= fechaIngresada && fechaIngresada <= fechaLimite;
  }, "La fecha debe ser desde la actual hasta el 2030.");
  </script>






    {% endblock %}
