{# heredando header y footer#}
{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<h3>Gestion Historiales Clinicos</h3>
<hr>
<br><br><br><br><br>
    <div class="contenedor">
        <form class="3" action="/guardarClinico/" method="post" enctype="multipart/form-data" id="frm_nuevo_pago">
        {% csrf_token %}
        <div class="row">
          <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <b>Paciente</b>
                  <br>
                  <select  name="id_paciente"  id="id_paciente" data-live-search="true" data-live-search-style="startsWith" class="selectpicker"required>
                    <option value=""> Seleccionar el nombre</option>
                    {% for paciente in pacientes %}
                    <option value="{{paciente.id}}">{{paciente.nombre}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
          <div class="col-md-3">
          <b>Edad</b>
            <br>
            <select  name="edad"  id="edad" data-live-search="true" data-live-search-style="startsWith" class="selectpicker"required>
              <option value=""> Seleccionar la edad</option>
              {% for paciente in pacientes %}
              <option value="{{paciente.id}}">{{paciente.edad}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-md-3">
            <b>Cedula</b>
            <br>
            <select  name="cedula"  id="cedula" data-live-search="true" data-live-search-style="startsWith" class="selectpicker"required>
              <option value=""> Seleccionar la Cedula</option>
              {% for paciente in pacientes %}
              <option value="{{paciente.id}}">{{paciente.cedula}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-md-3">
             <b>Genero</b>
            <br>
            <select  name="genero"  id="genero" data-live-search="true" data-live-search-style="startsWith" class="selectpicker"required>
              <option value=""> Seleccionar el genero</option>
              {% for paciente in pacientes %}
              <option value="{{paciente.id}}">{{paciente.genero}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
          <div class="row">
            <div class="col-md-4">
               <b>Fecha y Hora</b>
              <br>
              <select  name="fecha"  id="fecha" data-live-search="true" data-live-search-style="startsWith" class="selectpicker"required>
                <option value=""> Seleccionar la fecha</option>
                {% for cita in citas %}
                <option value="{{cita.id}}">{{cita.fecha}}</option>
                {% endfor %}
              </select>
              <br>
              <br>
            </div>
              <div class="col-md-4">
              <b>Descripcion</b>
                <br>
                <select  name="descripcion"  id="descripcion" data-live-search="true" data-live-search-style="startsWith" class="selectpicker" required>
                  <option value=""> Seleccionar la Descripcion</option>
                  {% for control in controles %}
                  <option value="{{control.id}}">{{control.descripcion}}</option>
                  {% endfor %}
                </select>
               </div>
            </div>
            <div class="row">

               <div class="col-md-6">
                   <b>Estado:</b>
                   <br>
                   <div class="form-check">
                       <input class="form-check-input" type="radio" name="estado" id="estado" value="Pendiente">
                       <label class="form-check-label" for="estado_pendiente">
                           Pendiente
                       </label>
                   </div>
                   <div class="form-check">
                       <input class="form-check-input" type="radio" name="estado" id="estado_cancelado" value="Parcialmente">
                       <label class="form-check-label" for="estado_parcialmente">
                           Parcialmente
                       </label>
                   </div>
                   <div class="form-check">
                       <input class="form-check-input" type="radio" name="estado" id="estado_completado" value="Pagado">
                       <label class="form-check-label" for="estado_pagado">
                           Pagado
                       </label>
                   </div>
               </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <b>Tipo de Tratamiento</b>
                <br>
                <select  name="tipoTratamiento"  id="tipoTratamiento" data-live-search="true" data-live-search-style="startsWith" class="selectpicker" required>
                  <option value=""> Seleccionar el tipo de Tratamiento</option>
                  {% for tratamiento in tratamientos %}
                  <option value="{{tratamiento.id}}">{{tratamiento.tipoTratamiento}}</option>
                  {% endfor %}
                </select>
               </div>
            </div>
          </div>
            <div class="col-md-4">
            </div>


              <div class="row">

          </div>
          <div class="row">
              <div class="col-md-6">

              </div>
              <div class="col-md-6">
                </div>
            </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <center>
                  <a href="/"
                  class="btn btn-success">
                    ATRAS
                  </a>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <button type="submit" name="button"
                    class="btn btn-primary">
                      &nbsp;&nbsp;&nbsp;GUARDAR&nbsp;&nbsp;&nbsp;
                    </button>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="reset" name="button" class="btn btn-danger">CANCELAR</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </center>

              </form>
              </div>


          <script type="text/javascript">
          $(document).ready(function() {
            $("#frm_nuevo_pago").validate({
              rules: {
                "id_paciente": {
                  required: true,
                },
                "fechaHora": {
                  required: true,
                  pattern: /^\d{4}-\d{2}-\d{2} \d{2}:\d{2}$/, // Expresión regular para validar formato YYYY-MM-DD HH:MM
                },
                "totalPago": {
                  required: true,
                  number: true,
                  min: 0,
                },
                "montoAbonado": {
                  required: true,
                  number: true,
                  min: 0,
                },
                "debe": {
                  required: true,
                  number: true,
                  min: 0,
                },
                "estado": {
                  required: true,
                },
              },
              messages: {
                "id_paciente": {
                  required: "Por favor, seleccione un paciente.",
                },
                "fechaHora": {
                  required: "Por favor, ingrese la fecha y hora.",
                  pattern: "El formato de fecha y hora no es válido (YYYY-MM-DD HH:MM).",
                },
                "totalPago": {
                  required: "Por favor, ingrese el monto total del pago.",
                  number: "Por favor, ingrese un número válido.",
                  min: "El monto total del pago debe ser mayor o igual a cero.",
                },
                "montoAbonado": {
                  required: "Por favor, ingrese el monto abonado.",
                  number: "Por favor, ingrese un número válido.",
                  min: "El monto abonado debe ser mayor o igual a cero.",
                },
                "debe": {
                  required: "Por favor, ingrese el monto pendiente.",
                  number: "Por favor, ingrese un número válido.",
                  min: "El monto pendiente debe ser mayor o igual a cero.",
                },
                "estado": {
                  required: "Por favor, seleccione un estado para el pago.",
                },
              },
            });
          });
        </script>
        <script type="text/javascript">
          $(document).ready(function() {
            // Función para actualizar el monto pendiente
            function actualizarDebe() {
              var totalPago = parseFloat($("#totalPago").val()); // Obtener el monto total del pago como número flotante
              var montoAbonado = parseFloat($("#montoAbonado").val()); // Obtener el monto abonado como número flotante
              var debe = totalPago - montoAbonado; // Calcular el monto pendiente
              $("#debe").val(debe.toFixed(2)); // Mostrar el monto pendiente en el campo correspondiente, con dos decimales
            }

            // Ejecutar la función actualizarDebe cuando cambien los valores de totalPago o montoAbonado
            $("#totalPago, #montoAbonado").on("change", function() {
              actualizarDebe(); // Llamar a la función para actualizar el monto pendiente
            });

            // Llamar a la función actualizarDebe al cargar la página para calcular el debe inicial
            actualizarDebe();
          });
        </script>

{% endblock %}
