{# heredando header y footer#}
{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<h3>Gestion Control de Pacientes</h3>
<hr>
<br> <br> <br> <br><br><br><br><br><b><br><br><br><br><br> <br> <br> 
    <div class="contenedor">
        <form class="3" action="/guardarControl/" method="post" enctype="multipart/form-data" id="frm_nuevo_control">
        {% csrf_token %}
                <br>
        <div class="row">
          <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <b>Paciente</b> <br>
                  <select  name="id_paciente"  id="id_paciente" data-live-search="true" data-live-search-style="startsWith" class="selectpicker"required>
                    <option value=""> Seleccionar el paciente</option>
                    {% for paciente in pacientes %}
                    <option value="{{paciente.id}}">{{paciente.nombre}}</option>
                    {% endfor %}
                  </select>
                </div>
          </div>
          <div class="col-md-6">
            <b>Fecha y Hora:</b>
            <input type="datetime-local" name="fecha" id="fecha" value=""placeholder="Ingrese la direccion" class="form-control" required>
          </div>
            </div>
          <div class="row">
            <div class="col-md-6">
                <b>Control Odontograma:</b>
                <br>
                <img id="odontograma" src="{% static 'img/odontograma.jpeg'%}" alt="Citas" class="img-fluid" style="width: 100%;">
                <hr>
        <div class="odontograma-container">
          <div class="row">
            <div class="col-md-3">
              <span class="titulo-seccion">Dientes Superiores Derechos</span>
                <input type="checkbox" id="diente18" name="dientes[]" value="18">
                <label for="diente18" style="font-size: 10px;">18 (Tercer molar superior derecho)</label>
                <input type="checkbox" id="diente17" name="dientes[]" value="17">
                <label for="diente17" style="font-size: 10px;"> 17 (Segundo molar superior derecho)</label>
                <input type="checkbox" id="diente16" name="dientes[]" value="16">
                <label for="diente16" style="font-size: 10px;">16 (Primer molar superior derecho)</label>
                <input type="checkbox" id="diente15" name="dientes[]" value="15">
                <label for="diente15" style="font-size: 10px;">15 (Segundo premolar superior derecho)</label>
                <input type="checkbox" id="diente14" name="dientes[]" value="14">
                <label for="diente14" style="font-size: 10px;">14 (Primer premolar superior derecho)</label>
                <input type="checkbox" id="diente13" name="dientes[]" value="13">
                <label for="diente13" style="font-size: 10px;">13 (Canino superior derecho)</label>
                <input type="checkbox" id="diente12" name="dientes[]" value="12">
                <label for="diente12" style="font-size: 10px;"> 12 (Incisivo lateral superior derecho)</label>
                <input type="checkbox" id="diente11" name="dientes[]" value="11">
                <label for="diente11" style="font-size: 10px;"> 11 (Incisivo central superior derecho)</label>
            </div>
            <div class="col-md-3">
              <span class="titulo-seccion">Dientes Inferiores Izquierdos</span>
                <input type="checkbox" id="diente48" name="dientes[]" value="48">
                <label for="diente48" style="font-size: 10px;"> 48 (Tercer molar inferior derecho)</label>
                <input type="checkbox" id="diente47" name="dientes[]" value="47">
                <label for="diente47" style="font-size: 10px;">47 (Segundo molar inferior derecho)</label>
                <input type="checkbox" id="diente46" name="dientes[]" value="46">
                <label for="diente46" style="font-size: 10px;"> 46 (Primer molar inferior derecho)</label>
                <input type="checkbox" id="diente45" name="dientes[]" value="45">
                <label for="diente45" style="font-size: 10px;"> 45 (Segundo premolar inferior derecho)</label>
                <input type="checkbox" id="diente44" name="dientes[]" value="44">
                <label for="diente44" style="font-size: 10px;"> 44 (Primer premolar inferior derecho)</label>
                <input type="checkbox" id="diente43" name="dientes[]" value="43">
                <label for="diente43" style="font-size: 10px;">43 (Canino inferior derecho)</label>
                <input type="checkbox" id="diente42" name="dientes[]" value="42">
                <label for="diente42" style="font-size: 10px;"> 42 (Incisivo lateral inferior derecho)</label>
                <input type="checkbox" id="diente41" name="dientes[]" value="41">
                <label for="diente41" style="font-size: 10px;"> 41 (Incisivo central inferior derecho)</label>
            </div>
            <div class="col-md-3">
              <span class="titulo-seccion">Dientes Inferiores Derechos</span>
                <input type="checkbox" id="diente21" name="dientes[]" value="21">
                <label for="diente21" style="font-size: 10px;"> 21 (Incisivo central superior izquierdo)</label>
                <input type="checkbox" id="diente22" name="dientes[]" value="22">
                <label for="diente22" style="font-size: 10px;"> 22 (Incisivo lateral superior izquierdo)</label>
                <input type="checkbox" id="diente23" name="dientes[]" value="23">
                <label for="diente23" style="font-size: 10px;"> 23 (Canino superior izquierdo)</label>
                <input type="checkbox" id="diente24" name="dientes[]" value="24">
                <label for="diente24" style="font-size: 10px;"> 24 (Primer premolar superior izquierdo)</label>
                <input type="checkbox" id="diente25" name="dientes[]" value="25">
                <label for="diente25" style="font-size: 10px;"> 25 (Segundo premolar superior izquierdo)</label>
                <input type="checkbox" id="diente26" name="dientes[]" value="26">
                <label for="diente26" style="font-size: 10px;"> 26 (Primer molar superior izquierdo)</label>
                <input type="checkbox" id="diente27" name="dientes[]" value="27">
                <label for="diente27" style="font-size: 10px;">27 (Segundo molar superior izquierdo)</label>
                <input type="checkbox" id="diente28" name="dientes[]" value="28">
                <label for="diente28" style="font-size: 10px;"> 28 (Tercer molar superior izquierdo)</label>
            </div>
            <div class="col-md-3">
              <span class="titulo-seccion">Dientes Inferiores Izquierdos</span>
                <input type="checkbox" id="diente31" name="dientes[]" value="31">
                <label for="diente31" style="font-size: 10px;"> 31 (Incisivo central inferior izquierdo)</label>
                <input type="checkbox" id="diente32" name="dientes[]" value="32">
                <label for="diente32" style="font-size: 10px;"> 32 (Incisivo lateral inferior izquierdo)</label>
                <input type="checkbox" id="diente33" name="dientes[]" value="33">
                <label for="diente33" style="font-size: 10px;"> 33 (Canino inferior izquierdo)</label>
                <input type="checkbox" id="diente34" name="dientes[]" value="34">
                <label for="diente34" style="font-size: 10px;"> 34 (Primer premolar inferior izquierdo)</label>
                <input type="checkbox" id="diente35" name="dientes[]" value="35">
                <label for="diente35" style="font-size: 10px;"> 35 (Segundo premolar inferior izquierdo)</label>
                <input type="checkbox" id="diente36" name="dientes[]" value="36">
                <label for="diente36" style="font-size: 10px;"> 36 (Primer molar inferior izquierdo)</label>
                <input type="checkbox" id="diente37" name="dientes[]" value="37">
                <label for="diente37" style="font-size: 10px;"> 37 (Segundo molar inferior izquierdo)</label>
                <input type="checkbox" id="diente38" name="dientes[]" value="38">
                <label for="diente38" style="font-size: 10px;"> 38 (Tercer molar inferior izquierdo)</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <b>Descripcion:</b>
            <textarea name="descripcion" id="descripcion" placeholder="Ingrese la descripción" class="form-control" required rows="5" cols="50"></textarea>
          </div>
          <div class="col-md-6">
            <b>Estado:</b>
            <br>
            <select name="estado" id="estado" class="form-control" onchange="actualizarImagen()">
                <option value="">--- Seleccione el estado ---</option>
                <option value="Controlando">Controlando</option>
                <option value="Por Terminar">Por Terminar</option>
                <option value="Terminado">Terminado</option>
            </select>

            </div>
          <div class="row">
              <div class="col-md-6">

              </div>
              <div class="col-md-6">
                <br>
                <br>
                <center>
                  <a href="/"
                  class="btn btn-success">
                    ATRAS
                  </a>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <button type="submit" name="button"
                    class="btn btn-primary">
                      &nbsp;&nbsp;&nbsp;GUARDAR&nbsp;&nbsp;&nbsp;
                    </button>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="reset" name="button" class="btn btn-danger">CANCELAR</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </center>
              </div>

              </div>

            </div>
        </form>

      </div>

      <script type="text/javascript">
        $(document).ready(function () {
          // Reglas de validación
          $("#frm_nuevo_control").validate({
            rules: {
              id_paciente: {
                required: true
              },
              fecha: {
                required: true,
                fechaActual: true // Utilizamos la regla personalizada "fechaActual"

              },
              descripcion: {
                required: true
              },
              estado: {
                required: true
              },
            },
            messages: {
              id_paciente: {
                required: "Por favor, seleccione un paciente"
              },
              fecha: {
                required: "Por favor, ingrese la fecha y hora",
                fechaActual: "La fecha debe ser desde la actual" // Mensaje de error personalizado para la regla "fechaActual"

              },
              descripcion: {
                required: "Por favor, ingrese la descripción"
              },
              estado: {
                required: "Por favor, seleccione un estado"
              },
            }
          });
        });
      </script>
      <script type="text/javascript">
      $.validator.addMethod("fechaActual", function(value, element) {
      var fechaActual = new Date();
      var fechaIngresada = new Date(value);
      var fechaLimite = new Date();
      fechaLimite.setFullYear(fechaActual.getFullYear() + 6); // Ajustamos el año límite a 6 años en el futuro (2030)
      return fechaActual <= fechaIngresada && fechaIngresada <= fechaLimite;
      }, "La fecha debe ser desde la actual hasta el 2030.");
      </script>


{% endblock %}
