{# heredando header y footer #}
{% extends "./inicio.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <h3>EDITAR PACIENTES</h3>

  <div class="col-md-8 mx-auto">
    <br> <br>
    <form class="" action="{% url 'procesarActualizacionPaciente' paciente.id %}" method="post" enctype="multipart/form-data" id="frm_nuevo_paciente" >

      {% csrf_token %}
      <br>
      <input type="hidden" name="id"  value="{{paciente.id}}">
      <div class="row">
        <div class="row">
            <div class="col-md-6">
              <b>Nombre:</b>
              <input type="text" name="nombre" id="nombre"
              value="{{paciente.nombre}}" placeholder="Ingrese el nombre del paciente"
              class="form-control" required>
              <br>
            </div>
            <div class="col-md-6">
              <b>Cedula:</b>
              <input type="text" name="cedula" id="cedula"
              value="{{paciente.cedula}}" placeholder="Ingrese la cedula"
              class="form-control" required>
              <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
              <b>Edad:</b>
              <input type="number" name="edad" id="edad"
              value="{{paciente.edad}}" placeholder="Ingrese la edad del paciente"
              class="form-control" required>
              <br>
            </div>
            <div class="col-md-6">
              <b>Genero:</b>
              <select name="genero" id="genero" class="form-control" required>
                  <option value="">--- Seleccione el genero ---</option>
                  <option value="Masculino"{% if paciente.genero == 'Masculino' %} selected {% endif %}>Masculino</option>
                  <option value="Femenino"{% if paciente.genero == 'Femenino' %} selected {% endif %}>Femenino</option>
              </select>
          </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                      <b>Direccion:</b>
                      <input type="text" name="direccion" id="direccion"
                      value="{{paciente.direccion}}" placeholder="Ingrese la direccion"
                      class="form-control" required>
                      <br>
            </div>
            <div class="col-md-6">

                      <b>Email:</b>
                      <input type="email" name="email" id="email"
                      value="{{paciente.email}}" placeholder="Descripcions"
                      class="form-control" required>
                      <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <b>Foto:</b>
                <input type="file" name="foto" id="foto" accept="image/*" class="form-control">
                <br>
                <!-- Campo oculto para almacenar la imagen seleccionada -->
                <input type="hidden" name="foto_actual" id="foto_actual" value="{{paciente.foto}}">
                <!-- Vista previa de la imagen actual -->
                {% if paciente.foto %}
                <img src="{{ paciente.foto.url }}" alt="Foto actual" style="max-width: 200px;">
                {% endif %}
            </div>
        </div>
        <script>
          $(document).ready(function () {
              $("#foto").fileinput({
                //showUpload:false
                //showRemove: false,
                language:'es',
              });
          });
        </script>
                    <script type="text/javascript">
                      $(document).ready(function () {
                $("#foto").change(function() {
                    if (this.files && this.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function(e) {
                            $('#foto_actual').val(e.target.result);
                        }
                        reader.readAsDataURL(this.files[0]);
                    }
                });
            });

        </script>
            <div class="col-md-6">
            <b>Estado:</b>
            <select name="estado" id="estado" class="form-control" required>
                <option value="">--- Seleccione el estado ---</option>
                <option value="ACTIVO"{% if paciente.estado == 'ACTIVO' %} selected {% endif %}>ACTIVO</option>
                <option value="INACTIVO"{% if paciente.estado == 'INACTIVO' %} selected {% endif %}>INACTIVO</option>
            </select>
            <br>
        </div
        </div>
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
              <center>
                <button type="submit" name="button"
                class="btn btn-primary">
                  &nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;
                </button>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/listaPacientes/"
                class="btn btn-danger">
                  Cancelar
                </a>
              </center>
            </div>
        </div>

  </form>
      </div>

  </div>



<script type="text/javascript">
    $("#frm_nuevo_paciente").validate({
    rules:{
     "nombre":{
       required:true,
       lettersOnly: true, // Agregamos una regla personalizada

     },
     "cedula": {
       required: true,
       digits: true, // Solo permite dígitos
       minlength: 10, // Longitud mínima de 10 dígitos
       maxlength: 10, // Longitud máxima de 10 dígitos
     },
      "edad": {
        required: true,
        digits: true,
        min: 1, // La edad debe ser mayor que uno
        max: 90 // La edad debe ser menor o igual a 90
      },
      "genero":{
        required:true,
      },
      "direccion":{
        required:true,
      },
      "email": {
        required: true,
        email: true // Valid
      },
      "foto":{
        required: true // La foto es requerida
      },
      "estado":{
        required:true,
      },
    },
    messages:{
     "nombre":{
       required:"Debe ingresar el nombre",
       lettersOnly: "Ingrese solo letras",

     },
     "cedula":{
       required: "El campo cédula es obligatorio",
       digits: "Por favor ingrese solo números",
       minlength: "La cédula debe tener exactamente 10 dígitos",
       maxlength: "La cédula debe tener exactamente 10 dígitos"

     },
     "edad":{
       required: "Debe ingresar la edad",
       digits: "Ingrese solo números",
       min: "La edad debe ser mayor que uno",
       max: "La edad debe ser menor o igual a 90"
     },
     "genero":{
       required:"Debe elegir un genero",
      },
     "direccion":{
       required:"Ingrese la carrera que pertenece al curso",
     },
     "email":{
       required: "Ingrese el correo electrónico",
       email: "Ingrese un correo electrónico válido"
     },
     "foto":{
       required: "Debe adjuntar una foto" // Mensaje de error para el campo de la foto
      },
     "estado":{
       required:"DEbe seleccionar el estado",
     },
    },
    });

    // Agregamos una regla personalizada para validar solo letras
    $.validator.addMethod("lettersOnly", function(value, element) {
     return this.optional(element) || /^[a-zA-Z\sñáéíóúÁÉÍÓÚ]+$/.test(value);
    }, "Solo se permiten letras.");
    // Agregamos una regla personalizada para validar que el número no sea menor que cero
    $.validator.addMethod("minNumber", function(value, element, param) {
    return value >= param;
    }, $.validator.format("Ingrese un número mayor o igual a {0}"));
</script>

{% endblock %}
