{# heredando header y footer #}
{% extends "./inicio.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <h3>EDITAR CITA</h3>
  <div class="col-md-6 mx-auto">
    <br> <br>
    <form class="" action="{% url 'procesarActualizacionCita' cita.id %}" method="post" enctype="multipart/form-data" id="frm_nuevo_cita" >

      {% csrf_token %}
      <br>
      <input type="hidden" name="id"  value="{{cita.id}}">
      <div class="row">
        <div class="col-md-6">
          <b>Paciente:</b>
          <br>
          <select name="paciente" id="paciente" data-live-search="true" data-live-search-style="startsWith" class="selectpicker" required>
              <option value="">--- Seleccione el paciente ---</option>
              {% for paciente in pacientes %}
              <option value="{{ paciente.id }}" {% if cita.paciente_id == paciente.id %} selected {% endif %}>
                  {{ paciente.nombre }}
              </option>
              {% endfor %}
          </select>

        <br>
        </div>
        <div class="col-md-6">
          <b>Fecha y Hora:</b>
          <br>
          <input type="datetime-local" name="fecha" id="fecha" value="{{ cita.fecha|date:'Y-m-d' }}T{{ cita.fecha|time:'H:i' }}" class="form-control" required>
          <br>
        </div>
      </div>

      <div class="col-md-6">
        <b>Estado:</b>
        <select name="estado" id="estado" class="form-control" required>
          <option value="">--- Seleccione el estado---</option>
          <option value="Programada" {% if cita.estado == 'Programada' %} selected {% endif %}>PROGRAMADA</option>
          <option value="Cancelada" {% if cita.estado == 'Cancelada' %} selected {% endif %}>CANCELADA</option>
          <option value="Completada" {% if cita.estado == 'Completada' %} selected {% endif %}>COMPLETADA</option>
        </select>
        <br>
      </div>

      <center>
        <button type="submit" name="button"
        class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/listadoCitas/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
<script type="text/javascript">
$("#frm_nuevo_cita").validate({
    rules: {
        "estado": {
            required: true
        },
        "fecha": {
            required: true,
            fechaActual: true // Utilizamos la regla personalizada "fechaActual"
        },
        "id_paciente": {
            required: true
        },
    },
    messages: {
        "estado": {
            required: "Debe seleccionar el estado",
        },
        "fecha": {
            required: "Ingrese la fecha correcta",
            fechaActual: "La fecha debe ser desde la actual" // Mensaje de error personalizado para la regla "fechaActual"
        },
        "id_paciente": {
            required: "Debe elegir el paciente"
        },
    },
});
</script>
<script type="text/javascript">
$.validator.addMethod("fechaActual", function(value, element) {
var fechaActual = new Date();
var fechaIngresada = new Date(value);
var fechaLimite = new Date();
fechaLimite.setFullYear(fechaActual.getFullYear() + 6); // Ajustamos el año límite a 6 años en el futuro (2030)
return fechaActual <= fechaIngresada && fechaIngresada <= fechaLimite;
}, "La fecha debe ser desde la actual hasta el 2030.");
</script>

{% endblock %}
