{% extends "./inicio.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <h3>EDITA CONTROL DE LOS PACIENTES</h3>
  <div class="col-md-6 mx-auto">
    <br> <br>
    <form class="" action="{% url 'procesarActualizacionControl' control.id %}" method="post" enctype="multipart/form-data" id="frm_nuevo_cita">
      {% csrf_token %}
      <br>
      <div class="row">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="hidden" name="id" value="{{ control.id }}">
              <b>Paciente</b>
              <br>
              <select name="id_paciente" id="id_paciente" data-live-search="true" data-live-search-style="startsWith" class="selectpicker" required>
                <option value="">Seleccionar el paciente</option>
                {% for paciente in pacientes %}
                <option value="{{ paciente.id }}" {% if control.paciente_id == paciente.id %} selected {% endif %}>
                    {{ paciente.nombre }}
                </option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <b>Fecha y Hora:</b>
            <br>
            <input type="datetime-local" name="fecha" id="fecha" value="{{ control.fecha|date:'Y-m-d' }}T{{ control.fecha|time:'H:i' }}" class="form-control" required>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <b>Control Odontograma:</b>
            <br>
            <img id="odontograma" src="{% static 'img/odontograma.jpeg'%}" alt="Citas" class="img-fluid" style="width: 100%;">
            <hr>
            <div class="odontograma-container">
              <div class="row">
                <div class="col-md-3">
                  <span class="titulo-seccion">Dientes Superiores Derechos</span>
                    <input type="checkbox" id="diente18" name="dientes_seleccionados[]" value="18">
                    <label for="diente18" style="font-size: 10px;">18 (Tercer molar superior derecho)</label>
                    <input type="checkbox" id="diente17" name="dientes_seleccionados[]" value="17">
                    <label for="diente17" style="font-size: 10px;"> 17 (Segundo molar superior derecho)</label>
                    <input type="checkbox" id="diente16" name="dientes_seleccionados[]" value="16">
                    <label for="diente16" style="font-size: 10px;">16 (Primer molar superior derecho)</label>
                    <input type="checkbox" id="diente15" name="dientes_seleccionados[]" value="15">
                    <label for="diente15" style="font-size: 10px;">15 (Segundo premolar superior derecho)</label>
                    <input type="checkbox" id="diente14" name="dientes_seleccionados[]" value="14">
                    <label for="diente14" style="font-size: 10px;">14 (Primer premolar superior derecho)</label>
                    <input type="checkbox" id="diente13" name="dientes_seleccionados[]" value="13">
                    <label for="diente13" style="font-size: 10px;">13 (Canino superior derecho)</label>
                    <input type="checkbox" id="diente12" name="dientes_seleccionados[]" value="12">
                    <label for="diente12" style="font-size: 10px;"> 12 (Incisivo lateral superior derecho)</label>
                    <input type="checkbox" id="diente11" name="dientes_seleccionados[]" value="11">
                    <label for="diente11" style="font-size: 10px;"> 11 (Incisivo central superior derecho)</label>
                </div>
                <div class="col-md-3">
                  <span class="titulo-seccion">Dientes Inferiores Izquierdos</span>
                    <input type="checkbox" id="diente48" name="dientes_seleccionados[]" value="48">
                    <label for="diente48" style="font-size: 10px;"> 48 (Tercer molar inferior derecho)</label>
                    <input type="checkbox" id="diente47" name="dientes_seleccionados[]" value="47">
                    <label for="diente47" style="font-size: 10px;">47 (Segundo molar inferior derecho)</label>
                    <input type="checkbox" id="diente46" name="dientes_seleccionados[]" value="46">
                    <label for="diente46" style="font-size: 10px;"> 46 (Primer molar inferior derecho)</label>
                    <input type="checkbox" id="diente45" name="dientes_seleccionados[]" value="45">
                    <label for="diente45" style="font-size: 10px;"> 45 (Segundo premolar inferior derecho)</label>
                    <input type="checkbox" id="diente44" name="dientes_seleccionados[]" value="44">
                    <label for="diente44" style="font-size: 10px;"> 44 (Primer premolar inferior derecho)</label>
                    <input type="checkbox" id="diente43" name="dientes_seleccionados[]" value="43">
                    <label for="diente43" style="font-size: 10px;">43 (Canino inferior derecho)</label>
                    <input type="checkbox" id="diente42" name="dientes_seleccionados[]" value="42">
                    <label for="diente42" style="font-size: 10px;"> 42 (Incisivo lateral inferior derecho)</label>
                    <input type="checkbox" id="diente41" name="dientes_seleccionados[]" value="41">
                    <label for="diente41" style="font-size: 10px;"> 41 (Incisivo central inferior derecho)</label>
                </div>
                <div class="col-md-3">
                  <span class="titulo-seccion">Dientes Inferiores Derechos</span>
                    <input type="checkbox" id="diente21" name="dientes_seleccionados[]" value="21">
                    <label for="diente21" style="font-size: 10px;"> 21 (Incisivo central superior izquierdo)</label>
                    <input type="checkbox" id="diente22" name="dientes_seleccionados[]" value="22">
                    <label for="diente22" style="font-size: 10px;"> 22 (Incisivo lateral superior izquierdo)</label>
                    <input type="checkbox" id="diente23" name="dientes_seleccionados[]" value="23">
                    <label for="diente23" style="font-size: 10px;"> 23 (Canino superior izquierdo)</label>
                    <input type="checkbox" id="diente24" name="dientes_seleccionados[]" value="24">
                    <label for="diente24" style="font-size: 10px;"> 24 (Primer premolar superior izquierdo)</label>
                    <input type="checkbox" id="diente25" name="dientes_seleccionados[]" value="25">
                    <label for="diente25" style="font-size: 10px;"> 25 (Segundo premolar superior izquierdo)</label>
                    <input type="checkbox" id="diente26" name="dientes_seleccionados[]" value="26">
                    <label for="diente26" style="font-size: 10px;"> 26 (Primer molar superior izquierdo)</label>
                    <input type="checkbox" id="diente27" name="dientes_seleccionados[]" value="27">
                    <label for="diente27" style="font-size: 10px;">27 (Segundo molar superior izquierdo)</label>
                    <input type="checkbox" id="diente28" name="dientes_seleccionados[]" value="28">
                    <label for="diente28" style="font-size: 10px;"> 28 (Tercer molar superior izquierdo)</label>
                </div>
                <div class="col-md-3">
                  <span class="titulo-seccion">Dientes Inferiores Izquierdos</span>
                    <input type="checkbox" id="diente31" name="dientes_seleccionados[]" value="31">
                    <label for="diente31" style="font-size: 10px;"> 31 (Incisivo central inferior izquierdo)</label>
                    <input type="checkbox" id="diente32" name="dientes_seleccionados[]" value="32">
                    <label for="diente32" style="font-size: 10px;"> 32 (Incisivo lateral inferior izquierdo)</label>
                    <input type="checkbox" id="diente33" name="dientes_seleccionados[]" value="33">
                    <label for="diente33" style="font-size: 10px;"> 33 (Canino inferior izquierdo)</label>
                    <input type="checkbox" id="diente34" name="dientes_seleccionados[]" value="34">
                    <label for="diente34" style="font-size: 10px;"> 34 (Primer premolar inferior izquierdo)</label>
                    <input type="checkbox" id="diente35" name="dientes_seleccionados[]" value="35">
                    <label for="diente35" style="font-size: 10px;"> 35 (Segundo premolar inferior izquierdo)</label>
                    <input type="checkbox" id="diente36" name="dientes_seleccionados[]" value="36">
                    <label for="diente36" style="font-size: 10px;"> 36 (Primer molar inferior izquierdo)</label>
                    <input type="checkbox" id="diente37" name="dientes_seleccionados[]" value="37">
                    <label for="diente37" style="font-size: 10px;"> 37 (Segundo molar inferior izquierdo)</label>
                    <input type="checkbox" id="diente38" name="dientes_seleccionados[]" value="38">
                    <label for="diente38" style="font-size: 10px;"> 38 (Tercer molar inferior izquierdo)</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <b>Descripcion:</b>
                <textarea name="descripcion" id="descripcion" placeholder="Ingrese la descripción" class="form-control" required rows="5" cols="50">{{ control.descripcion }}</textarea>
              </div>
          </div>
          <script>
              function obtenerDientesSeleccionados() {
                  // Obtener todos los elementos checkbox con name="dientes_seleccionados[]" que estén seleccionados
                  var dientesSeleccionados = document.querySelectorAll('input[name="dientes_seleccionados[]"]:checked');

                  // Crear un array para almacenar los valores de los dientes seleccionados
                  var valoresDientes = [];

                  // Iterar sobre los elementos seleccionados para obtener sus valores y agregarlos al array
                  dientesSeleccionados.forEach(function(checkbox) {
                      valoresDientes.push(checkbox.value);
                  });

                  // Devolver el array con los valores de los dientes seleccionados
                  return valoresDientes;
              }

              // Ejemplo de cómo usar la función para obtener los valores de los dientes seleccionados
              var dientesSeleccionados = obtenerDientesSeleccionados();
              console.log(dientesSeleccionados); // Esto imprimirá los valores en la consola del navegador
          </script>


        </div>
        <div class="row">
          <div class="col-md-6">
            <b>Estado:</b>
            <br>
            <select name="estado" id="estado" class="form-control">
              <option value="">--- Seleccione el estado ---</option>
              <option value="Controlando" {% if control.estado == 'Controlando' %} selected {% endif %}>Controlando</option>
              <option value="Por Terminar" {% if control.estado == 'Por Terminar' %} selected {% endif %}>Por Terminar</option>
              <option value="Terminado" {% if control.estado == 'Terminado' %} selected {% endif %}>Terminado</option>
            </select>
            <br>
            <br>
          </div>
      <center>
        <button type="submit" name="button" class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/listadoControles/" class="btn btn-danger">
          Cancelar
        </a>
      </center>
      </div>
      </form>
      </div>
    </div>


          <script type="text/javascript">
            $(document).ready(function () {
              // Reglas de validación
              $("#frm_nuevo_control").validate({
                rules: {
                  id_paciente: {
                    required: true
                  },
                  fecha: {
                    required: true,
                    fechaActual: true // Utilizamos la regla personalizada "fechaActual"

                  },
                  descripcion: {
                    required: true
                  },
                  estado: {
                    required: true
                  },
                },
                messages: {
                  id_paciente: {
                    required: "Por favor, seleccione un paciente"
                  },
                  fecha: {
                    required: "Por favor, ingrese la fecha y hora",
                    fechaActual: "La fecha debe ser desde la actual" // Mensaje de error personalizado para la regla "fechaActual"

                  },
                  descripcion: {
                    required: "Por favor, ingrese la descripción"
                  },
                  estado: {
                    required: "Por favor, seleccione un estado"
                  },
                }
              });
            });
          </script>
          <script type="text/javascript">
          $.validator.addMethod("fechaActual", function(value, element) {
          var fechaActual = new Date();
          var fechaIngresada = new Date(value);
          var fechaLimite = new Date();
          fechaLimite.setFullYear(fechaActual.getFullYear() + 6); // Ajustamos el año límite a 6 años en el futuro (2030)
          return fechaActual <= fechaIngresada && fechaIngresada <= fechaLimite;
          }, "La fecha debe ser desde la actual hasta el 2030.");
          </script>

{% endblock %}
