{# heredando header y footer #}
{% extends "./inicio.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <h3>EDITAR TRATAMIENTO</h3>
  <div class="col-md-6 mx-auto">
    <br> <br>
    <form class="" action="{% url 'procesarActualizacionTratamiento' tratamiento.id %}" method="post" enctype="multipart/form-data" id="frm_nuevo_tratamiento" >

      {% csrf_token %}
      <br>
      <input type="hidden" name="id"  value="{{tratamiento.id}}">
      <div class="row">
        <div class="row">
          <div class="col-md-6">
            <b>Paciente:</b>
            <br>
            <select name="paciente" id="paciente" data-live-search="true" data-live-search-style="startsWith" class="selectpicker" required>
                <option value="">--- Seleccione el paciente ---</option>
                {% for paciente in pacientes %}
                <option value="{{ paciente.id }}" {% if tratamiento.paciente_id == paciente.id %} selected {% endif %}>
                    {{ paciente.nombre }}
                </option>
                {% endfor %}
            </select>

          </div>
          <div class="col-md-6">
              <b>Tipo de Tratamiento:</b>
              <br>
              <select name="tipoTratamiento" id="tipoTratamiento" class="form-control" required>
                  <option value="">--- Seleccione el tipo de tratamiento ---</option>
                  <option value="Limpieza dental" {% if tratamiento.tipoTratamiento == 'Limpieza dental' %} selected {% endif %}>Limpieza dental</option>
                  <option value="Extracción de dientes" {% if tratamiento.tipoTratamiento == 'Extracción de dientes' %} selected {% endif %}>Extracción de dientes</option>
                  <option value="Empastes" {% if tratamiento.tipoTratamiento == 'Empastes' %} selected {% endif %}>Empastes</option>
                  <option value="Endodoncia" {% if tratamiento.tipoTratamiento == 'Endodoncia' %} selected {% endif %}>Endodoncia</option>
                  <option value="Ortodoncia" {% if tratamiento.tipoTratamiento == 'Ortodoncia' %} selected {% endif %}>Ortodoncia</option>
                  <option value="Implantes dentales" {% if tratamiento.tipoTratamiento == 'Implantes dentales' %} selected {% endif %}>Implantes dentales</option>
                  <option value="Blanqueamiento dental" {% if tratamiento.tipoTratamiento == 'Blanqueamiento dental' %} selected {% endif %}>Blanqueamiento dental</option>
                  <option value="Tratamiento de caries" {% if tratamiento.tipoTratamiento == 'Tratamiento de caries' %} selected {% endif %}>Tratamiento de caries</option>
                  <option value="Coronas dentales" {% if tratamiento.tipoTratamiento == 'Coronas dentales' %} selected {% endif %}>Coronas dentales</option>
                  <option value="Incrustaciones dentales" {% if tratamiento.tipoTratamiento == 'Incrustaciones dentales' %} selected {% endif %}>Incrustaciones dentales</option>
                  <option value="Cirugía maxilofacial" {% if tratamiento.tipoTratamiento == 'Cirugía maxilofacial' %} selected {% endif %}>Cirugía maxilofacial</option>
                  <option value="Odontopediatría" {% if tratamiento.tipoTratamiento == 'Odontopediatría' %} selected {% endif %}>Odontopediatría</option>
                  <option value="Periodoncia" {% if tratamiento.tipoTratamiento == 'Periodoncia' %} selected {% endif %}>Periodoncia</option>
              </select>
              <br>
          </div>

        </div>
        <div class="row">
          <div class="col-md-6">
            <b>Detalles</b>
            <br>
            <textarea name="detalles" id="detalles"  placeholder="Ingrese la Descripción del curso" class="form-control" rows="3" > {{tratamiento.detalles}}</textarea>
          </div>
          <div class="col-md-3">
            <b>Fecha de Inicio</b>
            <br>
            <input type="date" name="fechaInicio" id="fechaInicio" value="{{tratamiento.fechaInicio|date:'Y-m-d'}}" placeholder="Ingrese la Descripcion " class="form-control" required>
          </div>
          <div class="col-md-3">
            <b>Fecha de Fin</b>
            <br>
            <input type="date" name="fechaFin" id="fechaFin" value="{{tratamiento.fechaFin|date:'Y-m-d'}}" placeholder="Ingrese la Descripcion " class="form-control" required>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <b>Instrucciones</b>
            <br>
            <textarea name="instrucciones" id="instrucciones"  placeholder="Ingrese la Descripción del curso" class="form-control" rows="3" > {{tratamiento.instrucciones}}</textarea>
          </div>
          <div class="col-md-6">
              <b>Estado:</b>
              <br><br>
              <div class="form-check">
                  <input class="form-check-input" type="radio" name="estado" id="estado_activo" value="activo" {% if tratamiento.estado == 'activo' %} checked {% endif %}>
                  <label class="form-check-label" for="estado_activo">
                      Activo
                  </label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="radio" name="estado" id="estado_cancelado" value="cancelado" {% if tratamiento.estado == 'cancelado' %} checked {% endif %}>
                  <label class="form-check-label" for="estado_cancelado">
                      Cancelado
                  </label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="radio" name="estado" id="estado_completado" value="completado" {% if tratamiento.estado == 'completado' %} checked {% endif %}>
                  <label class="form-check-label" for="estado_completado">
                      Completado
                  </label>
              </div>
          </div>


        </div>

      </div>
      <br>
      <center>
        <button type="submit" name="button"
        class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/listadoTratamientos/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
      $("#frm_nuevo_tratamiento").validate({
      rules: {
      "id_paciente": {
        required: true,
      },
      "tipoTratamiento": {
        required: true,
      },
      "detalles": {
        required: true,
      },
      "fechaInicio": {
        required: true,
      },
      "fechaFin": {
        required: true,
      },
      "instrucciones": {
        required: true,
      },
      "estado": {
        required: true,
      },
      },
      messages: {
      "id_paciente": {
        required: "Por favor, seleccione un paciente.",
      },
      "tipoTratamiento": {
        required: "Por favor, seleccione un tipo de tratamiento.",
      },
      "detalles": {
        required: "Por favor, ingrese los detalles del tratamiento.",
      },
      "fechaInicio": {
        required: "Por favor, ingrese la fecha de inicio del tratamiento.",
      },
      "fechaFin": {
        required: "Por favor, ingrese la fecha de fin del tratamiento.",
      },
      "instrucciones": {
        required: "Por favor, ingrese las instrucciones.",
      },
      "estado": {
        required: "Por favor, seleccione un estado para el tratamiento.",
      },
      },
});
});
</script>



{% endblock %}
