{# heredando header y footer #}
{% extends "./inicio.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <h3>EDITAR HISTORIALES CLINICOS</h3>

  <div class="col-md-8 mx-auto">
    <br> <br>
    <form class="" action="{% url 'procesarActualizacionClinico' clinico.id %}" method="post" enctype="multipart/form-data" id="frm_editar_clinico" >

      {% csrf_token %}
      <br>
      <input type="hidden" name="id"  value="{{clinico.id}}">
      <div class="row">
        <div class="col-md-6">
          <b>Nombre:</b>
          <input type="text" name="nombre" id="nombre"
          value="{{clinico.paciente.nombre}}" placeholder="Ingrese el nombre del paciente"
          class="form-control" required>
          <br>
        </div>
        <div class="col-md-6">
          <b>Edad:</b>
          <input type="number" name="edad" id="edad"
          value="{{clinico.edad}}" placeholder="Ingrese la edad del paciente"
          class="form-control" required>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <b>Genero:</b>
          <select name="genero" id="genero" class="form-control"  required>
            <option value="">--- Seleccione el genero ---</option>
            <option value="M" {% if clinico.genero == 'M' %} selected {% endif %}>Masculino</option>
            <option value="F" {% if clinico.genero == 'F' %} selected {% endif %}>Femenino</option>
          </select>
          <br>
        </div>
        <div class="col-md-6">
          <b>Direccion:</b>
          <input type="text" name="direccion" id="direccion"
          value="{{clinico.paciente.direccion}}" placeholder="Ingrese la direccion"
          class="form-control" required>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <b>Email:</b>
          <input type="email" name="email" id="email"
          value="{{clinico.paciente.email}}" placeholder="Descripcions"
          class="form-control" required>
          <br>
        </div>
        <div class="col-md-6">
          <b>Foto:</b>
          <input type="file" name="foto" id="foto" accept="image/*"  class="form-control" >
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <b>Estado:</b>
          <select name="estado" id="estado" class="form-control" required>
            <option value="">--- Seleccione el estado---</option>
            <option value="A" {% if clinico.estado == 'A' %} selected {% endif %}>ACTIVO</option>
            <option value="B" {% if clinico.estado == 'B' %} selected {% endif %}>INACTIVO</option>
          </select>
          <br>
        </div>
        <div class="col-md-6">
          <center>
            <button type="submit" name="button"
            class="btn btn-primary">
              &nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;
            </button>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/listadoClinicos/"
            class="btn btn-danger">
              Cancelar
            </a>
          </center>
        </div>
      </div>

    </form>
  </div>
</div>

{% endblock %}

<script type="text/javascript">
    $("#frm_editar_clinico").validate({
    rules:{
     "nombre":{
       required:true,
     },
     "edad": {
       required: true,
       digits: true,
       min: 1,
       max: 90
     },
     "genero":{
       required:true,
     },
     "direccion":{
       required:true,
     },
     "email": {
       required: true,
       email: true
     },
     "foto":{
       required: true
     },
     "estado":{
       required:true,
     },
    },
    messages:{
     "nombre":{
       required:"Debe ingresar el nombre",
     },
     "edad":{
       required: "Debe ingresar la edad",
       digits: "Ingrese solo números",
       min: "La edad debe ser mayor que uno",
       max: "La edad debe ser menor o igual a 90"
     },
     "genero":{
       required:"Debe elegir un genero",
     },
     "direccion":{
       required:"Ingrese la direccion",
     },
     "email":{
       required: "Ingrese el correo electrónico",
       email: "Ingrese un correo electrónico válido"
     },
     "foto":{
       required: "Debe adjuntar una foto"
     },
     "estado":{
       required:"Debe seleccionar el estado",
     },
    },
});
</script>
