{# heredando header y footer #}
{% extends "./inicio.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <h3>EDITAR PAGOS</h3>
  <div class="col-md-6 mx-auto">
    <br> <br>
    <form class="" action="{% url 'procesarActualizacionPago' pago.id %}" method="post" enctype="multipart/form-data" id="frm_nuevo_pago" >

      {% csrf_token %}
      <br>
      <input type="hidden" name="id"  value="{{pago.id}}">
      <div class="row">
        <div class="row">
          <div class="col-md-6">
            <b>Paciente:</b>
            <br>
            <select name="paciente" id="paciente" data-live-search="true" data-live-search-style="startsWith" class="selectpicker" required>
                <option value="">--- Seleccione el paciente ---</option>
                {% for paciente in pacientes %}
                <option value="{{ paciente.id }}" {% if pago.paciente_id == paciente.id %} selected {% endif %}>
                    {{ paciente.nombre }}
                </option>
                {% endfor %}
            </select>

          </div>
            <div class="col-md-6">
              <b>Fecha y Hora:</b>
              <br>
              <input type="datetime-local" name="fechaHora" id="fechaHora" value="{{ pago.fechaHora|date:'Y-m-d' }}T{{ pago.fechaHora|time:'H:i' }}" class="form-control" required>
              <br>
            </div>
          </div>


          <div class="row">
            <div class="col-md-2">
        </div>
            <div class="col-md-3">
              <b>Total Pago:</b>
              <br>
              <br>
              <input type="text" name="totalPago" id="totalPago"
              value="{{pago.totalPago}}" placeholder="ingrese el pago"
              class="form-control" required step="any">
              <br>
              </div>
            <div class="col-md-3">
              <b>Monto Abonado:</b>
              <br>
              <br>
              <input type="text" name="montoAbonado" id="montoAbonado" value="{{pago.montoAbonado}}" placeholder="Ingrese la Descripcion del curso" class="form-control" required step="any">
            </div>
            <div class="col-md-2">
              <b>Debe:</b>
              <br>
              <br>
              <input type="text" name="debe" id="debe" value="{{pago.debe}}" placeholder="Ingrese la Descripcion del curso" class="form-control" required step="any">
            </div>
            <div class="col-md-2">
            </div>
            </div>

                      <div class="row">

                        <div class="col-md-4">
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="col-md-4">
                            <br>
                            <br>
                            <b>Estado de Pago:</b>
                            <br>
                            <br>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="estado" id="estado_pendiente" value="Pendiente" {% if pago.estado == "Pendiente" %} checked {% endif %}>
                                <label class="form-check-label" for="estado_pendiente">
                                    Pendiente
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="estado" id="estado_parcialmente" value="Parcialmente" {% if pago.estado == "Parcialmente" %} checked {% endif %}>
                                <label class="form-check-label" for="estado_parcialmente">
                                    Parcialmente
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="estado" id="estado_pagado" value="Pagado" {% if pago.estado == "Pagado" %} checked {% endif %}>
                                <label class="form-check-label" for="estado_pagado">
                                    Pagado
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                        </div>
      </div>
      <br>
      <center>
        <button type="submit" name="button"
        class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/listadoPagos/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
  $("#frm_nuevo_pago").validate({
    rules: {
      "id_paciente": {
        required: true,
      },
      "fechaHora": {
        required: true,
        fechaActual: true // Utilizamos la regla personalizada "fechaActual"
      },
      "totalPago": {
        required: true,
        number: true,
      },
      "montoAbonado": {
        required: true,
        number: true,
      },
      "debe": {
        required: true,
        number: true,
      },
      "estado": {
        required: true,
      },
    },
    messages: {
      "id_paciente": {
        required: "Por favor, seleccione un paciente.",
      },
      "fechaHora": {
        required: "Por favor, ingrese la fecha y hora correcta.",
        fechaActual: "La fecha y hora debe ser desde la actual" // Mensaje de error personalizado para la regla "fechaActual"

      },
      "totalPago": {
        required: "Por favor, ingrese el monto total del pago.",
        number: "Por favor, ingrese un número válido.",
      },
      "montoAbonado": {
        required: "Por favor, ingrese el monto abonado.",
        number: "Por favor, ingrese un número válido.",
      },
      "debe": {
        required: "Por favor, ingrese el monto pendiente.",
        number: "Por favor, ingrese un número válido.",
      },
      "estado": {
        required: "Por favor, seleccione un estado para el pago.",
      },
    },
  });
});
</script>
<script type="text/javascript">
$(document).ready(function() {
  // Función para actualizar el monto pendiente
  function actualizarDebe() {
    var totalPago = parseFloat($("#totalPago").val()); // Obtener el monto total del pago como número flotante
    var montoAbonado = parseFloat($("#montoAbonado").val()); // Obtener el monto abonado como número flotante
    var debe = totalPago - montoAbonado; // Calcular el monto pendiente
    $("#debe").val(debe.toFixed(2)); // Mostrar el monto pendiente en el campo correspondiente, con dos decimales
  }

  // Ejecutar la función actualizarDebe cuando cambien los valores de totalPago o montoAbonado
  $("#totalPago, #montoAbonado").on("change", function() {
    actualizarDebe(); // Llamar a la función para actualizar el monto pendiente
  });

  // Llamar a la función actualizarDebe al cargar la página para calcular el debe inicial
  actualizarDebe();
});
</script>
<script type="text/javascript">
$.validator.addMethod("fechaActual", function(value, element) {
var fechaActual = new Date();
var fechaIngresada = new Date(value);
var fechaLimite = new Date();
fechaLimite.setFullYear(fechaActual.getFullYear() + 6); // Ajustamos el año límite a 6 años en el futuro (2030)
return fechaActual <= fechaIngresada && fechaIngresada <= fechaLimite;
}, "La fecha debe ser desde la actual hasta el 2030.");
</script>
<script type="text/javascript">
  $.validator.addMethod("fechaActual", function(value, element) {
  var fechaActual = new Date();
  var fechaIngresada = new Date(value);
  var fechaLimite = new Date();
  fechaLimite.setFullYear(fechaActual.getFullYear() + 6); // Ajustamos el año límite a 6 años en el futuro (2030)
  return fechaActual <= fechaIngresada && fechaIngresada <= fechaLimite;
}, "La fecha debe ser desde la actual hasta el 2030.");

// Configurar el separador decimal como coma
$.validator.addMethod("number", function(value, element) {
  return this.optional(element) || /^-?\d+(.\d+)?$/.test(value);
}, "Por favor, ingrese un número válido.");

</script>



{% endblock %}
