{# heredando header y footer #}
{% extends "./inicio.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <h3>EDITAR RECETA</h3>
  <div class="col-md-6 mx-auto">
    <br> <br>
    <form class="" action="{% url 'procesarActualizacionReceta' receta.id %}" method="post" enctype="multipart/form-data" id="frm_nuevo_receta" >

      {% csrf_token %}
      <br>
      <input type="hidden" name="id"  value="{{receta.id}}">
      <div class="row">
        <div class="row">
          <div class="col-md-6">
            <b>Paciente:</b>
            <br>
            <select name="paciente" id="paciente" data-live-search="true" data-live-search-style="startsWith" class="selectpicker" required>
              <option value="">Seleccionar el paciente</option>
              {% for paciente in pacientes %}
              <option value="{{ paciente.id }}" {% if receta.paciente_id == paciente.id %} selected {% endif %}>
                  {{ paciente.nombre }}
              </option>
              {% endfor %}
            </select>

          </div>
          <div class="col-md-6">
            <b>Fecha prescripcion:</b>
            <br>
            <input type="date" id="fechaPrescripcion" name="fechaPrescripcion" value="{{receta.fechaPrescripcion|date:'Y-m-d'}}" class="form-control" required>
            <br>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <b>Medicamentos</b>
            <br>
            <input type="text" name="medicamento" id="medicamento" value="{{receta.medicamento}}" placeholder="Ingrese la Descripcion " class="form-control" required>
          </div>
          <div class="col-md-6">
            <b>Duracion</b>
            <br>
            <input type="text" name="duracion" id="duracion" value="{{receta.duracion}}" placeholder="Ingrese la Descripcion " class="form-control" required>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <b>Receta</b>
            <br>
            <textarea name="receta" id="receta"  placeholder="Ingrese la Descripción del curso" class="form-control" rows="3" > {{receta.receta}}</textarea>
          </div>
          <div class="col-md-6">
            <b>Instrucciones</b>
            <br>
            <textarea name="instrucciones" id="instrucciones"  placeholder="Ingrese la Descripción del curso" class="form-control" rows="3" > {{receta.instrucciones}}</textarea>

          </div>

        </div>

      </div>
      <br>
      <center>
        <button type="submit" name="button"
        class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/listadoRecetas/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
  $("#frm_nuevo_receta").validate({
    rules: {
      "id_paciente": {
        required: true,
      },
      "fechaPrescripcion": {
        required: true,
        fechaActual: true // Utilizamos la regla personalizada "fechaActual"
      },
      "medicamento": {
        required: true,
      },
      "duracion": {
        required: true,
      },
      "receta": {
        required: true,
        minlength: 10, // Establece una longitud mínima

      },
      "instrucciones": {
        required: true,
        minlength: 10, // Establece una longitud mínima

      },
    },
    messages: {
      "id_paciente": {
        required: "Por favor, seleccione un paciente.",
      },
      "fechaPrescripcion": {
        required: "Por favor, ingrese la fecha de prescripción.",
        fechaActual: "La fecha debe ser desde la actual" // Mensaje de error personalizado para la regla "fechaActual"

      },
      "medicamento": {
        required: "Por favor, ingrese el medicamento.",
      },
      "duracion": {
        required: "Por favor, ingrese la duración del tratamiento.",
      },
      "receta": {
        required: "Por favor, ingrese los detalles de la receta.",
        minlength: "La receta debe tener al menos 10 caracteres.",

      },
      "instrucciones": {
        required: "Por favor, ingrese las instrucciones.",
        minlength: "Las instrucciones deben tener al menos 10 caracteres.",

      },
    },
  });
});
</script>
<script type="text/javascript">
$.validator.addMethod("fechaActual", function(value, element) {
var fechaActual = new Date();
var fechaIngresada = new Date(value);
var fechaLimite = new Date();
fechaLimite.setFullYear(fechaActual.getFullYear() + 6); // Ajustamos el año límite a 6 años en el futuro (2030)
return fechaActual <= fechaIngresada && fechaIngresada <= fechaLimite;
}, "La fecha debe ser desde la actual hasta el 2030.");
</script>



{% endblock %}
