{# heredando header y footer  glpat-yEQyhXDUupv_auEnNjyF #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <h3>Tabla de datos</h3>
<hr>
  <br><br>
  <br><br><br><br>
  <body>
    <div class="contenedor">
      <div class="row">
        <div class="col-md-4 mb-3">
          <br><br>
          <br><br><br><br>
            <a href="{% url 'listaPacientes' %}" class="btn btn-outline-primary btn-lg btn-block"><img src="{% static 'img/paciente.png' %}" alt="Pacientes" class="img-fluid" style="width: 100px;">Pacientes</a>
        </div>
        <div class="col-md-4 mb-3">
          <br><br>
          <br><br><br><br>
            <a href="{% url 'listadoCitas' %}" class="btn btn-outline-primary btn-lg btn-block"><img src="{% static 'img/cita.png'%}"alt="Citas" class="img-fluid" style="width: 100px;">Citas</a>
        </div>
        <div class="col-md-4 mb-3">
          <br><br>
          <br><br><br><br>
          <a href="{% url 'listadoControles' %}" class="btn btn-outline-primary btn-lg btn-block"><img src="{% static 'img/control.png'%}"alt="Citas" class="img-fluid" style="width: 100px;">Controles</a>
        </div>
        <div class="col-md-4 mb-3">
          <br><br>
          <br><br><br><br>
          <a href="{% url 'listadoRecetas' %}" class="btn btn-outline-primary btn-lg btn-block"><img src="{% static 'img/receta.png'%}"alt="Recetas" class="img-fluid" style="width: 100px;">Recetas</a>
        </div>
        <div class="col-md-4 mb-3">
          <br><br>
          <br><br><br><br>
          <a href="{% url 'listadoTratamientos' %}" class="btn btn-outline-primary btn-lg btn-block"><img src="{% static 'img/tratamientos.png'%}"alt="Tratamiento" class="img-fluid" style="width: 100px;">Tratamiento</a>
        </div>
        <div class="col-md-4 mb-3">
          <br><br>
          <br><br><br><br>
          <a href="{% url 'listadoPagos' %}" class="btn btn-outline-primary btn-lg btn-block"><img src="{% static 'img/pago.png'%}"alt="Pagos" class="img-fluid" style="width: 100px;">Pagos</a>
        </div>
        <div class="col-md-4 mb-3">
          <br><br><br><br><br>
        </div>
        <div class="col-md-4 mb-3">
          <br><br><br><br><br>
        </div>
        <div class="col-md-4 mb-3">
          <br><br><br><br><br>
        </div>
      </div>
    </div>

  </body>
  {% endblock %}

</html>
