{% extends "./plantilla.html" %}
{% block contenido %}

<h3>Lista de Historiales Clínicos de Pacientes</h3>
<hr>
<div class="table-container">

<div  id="frm_nuevo_control">
  {% csrf_token %}

<table class="table" id="tbl_clinico">
    <thead>
        <tr>
            <th>Paciente</th>
            <th>Edad</th>
            <th>Cédula</th>
            <th>Género</th>
            <th>Fecha y Hora</th>
            <th>Descripción</th>
            <th>Foto</th>
            <th>Tipo de Tratamiento</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for clinico in clinicos %}
        <tr>
            <td>{{ clinico.paciente.nombre }}</td>
            <td>{{ clinico.edad.edad }}</td>
            <td>{{ clinico.cedula.cedula }}</td>
            <td>{{ clinico.genero.genero }}</td>
            <td>{{ clinico.fecha.fecha }}</td>
            <td>{{ clinico.descripcion.descripcion }}</td>
            <td>
                 {% if clinico.foto %}
                    <center>
                       <a href="{{ asignatura.foto.url }}" target="__blank">
                          <i class="fa fa-download"></i>
                       </a>
                    </center>
                 {% else %}
                    <b>N/A</b>
                 {% endif %}
              </td>
            <td>{{ clinico.tipoTratamiento.tipoTratamiento }}</td>
            <td>{{ clinico.estado.estado }}</td>
            <td>
              <a href="javascript:void(0)"
              onclick="eliminarClinico('/eliminarClinico/{{ clinico.id }}');"
              class="btn btn-danger" title="Eliminar" >
                <i class="fa-solid fa-trash"></i>
              </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
  <div class="col-md-4">
    <a href="/" class="btn btn-primary btn-block">
      <i class="fas fa-arrow-left"></i> ATRAS
    </a>
  </div>

</div>

</div>

<script type="text/javascript">
      function eliminarClinico(url){
        iziToast.question({
            timeout: 15000,
            close: true,
            overlay: true,
            displayMode: 'once',
            id: 'question',
            zindex: 999,
            title: 'CONFIRMACIÓN',
            message: '¿Está seguro de eliminar el <b>Control</b> seleccionado?',
            position: 'center',
            buttons: [
                ['<button><b>SI</b></button>', function (instance, toast) {
                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    window.location.href=url;
                }, true],
                ['<button>NO</button>', function (instance, toast) {
                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                }],
            ]
        });
      }
      // Muestra un mensaje de éxito para el guardado
      {% if messages %}
        {% for message in messages %}
          iziToast.success({
              title: 'Éxito',
              message: '{{ message }}',
              position: 'topRight',
          });
        {% endfor %}
      {% endif %}
</script>

<script type="text/javascript">
      $(document).ready(function () {
        $('#tbl_clinico').DataTable({
          dom: 'Bfrtip',
          buttons: [
            {
              extend: 'pdfHtml5',
              messageTop: 'REPORTES DE CLIENTES - DJANGO Y DATATABLES',
              customize: function (doc) {
                // Personaliza el documento PDF aquí
                doc.styles.title = {
                  color: 'green',
                  fontSize: '30',
                  alignment: 'center'
                };
                doc.content[1].margin = [ 100, 0, 100, 0 ]; // Margen superior e inferior
              },
              className: 'btn-pdf', // Clase CSS personalizada para el botón PDF
            },
            {
              extend: 'print',
              title: 'Reportes de Clientes - Django y DataTables',
              customize: function (win) {
                // Personaliza la ventana de impresión aquí
                $(win.document.body).css('font-size', '14px');
                $(win.document.body).find('table').addClass('compact').css('font-size', 'inherit');
              },
              className: 'btn-print', // Clase CSS personalizada para el botón de impresión
            },
            {
              extend: 'csv',
              className: 'btn-csv', // Clase CSS personalizada para el botón CSV
            }
          ],
          language: {
            url: "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
          }
        });
      });
</script>

{% endblock %}
