<!-- En lista_pacientes.html -->

{% extends "./plantilla.html" %}
{% block contenido %}

<h3>Lista de Citas</h3>
<hr>
<div class="table-container">

<div id="frm_nuevo_cita">
  {% csrf_token %}

<table class="table"  id="tbl_cita">
    <thead>
        <tr>
            <th>Paciente</th>
            <th>Estado</th>
            <th>Fecha y Hora</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for cita in citas %}
        <tr>
            <td>{{ cita.paciente.nombre }}</td>
            <td>{{ cita.estado }}</td>
            <td>{{ cita.fecha }}</td>
            <td>
              <a href="/editarCita/{{cita.id}}" class="btn btn-warning" title="Editar"><i class="fa-solid fa-pen-to-square"></i></a>
              <a href="javascript:void(0)"
              onclick="eliminarCita('/eliminarCita/{{cita.id}}');"
              class="btn btn-danger" title="Eliminar" >
                <i class="fa-solid fa-trash"></i>
              </a>

            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    <div class="col-md-4">
      <a href="/" class="btn btn-primary btn-block">
        <i class="fas fa-arrow-left"></i> ATRAS
      </a>
    </div>
    </div>
  </div>
    <br> <br> <br> <br> <br> <rb>

    <script type="text/javascript">
      function eliminarCita(url){
        iziToast.question({
            timeout: 15000,
            close: true,
            overlay: true,
            displayMode: 'once',
            id: 'question',
            zindex: 999,
            title: 'CONFIRMACIÓN',
            message: '¿Está seguro de eliminar el <b>Cita</b> seleccionado?',
            position: 'center',
            buttons: [
                ['<button><b>SI</b></button>', function (instance, toast) {
                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    window.location.href=url;
                }, true],
                ['<button>NO</button>', function (instance, toast) {

                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                }],
            ]
        });
      }
      // Muestra un mensaje de éxito para el guardado
            {% if messages %}
              {% for message in messages %}
                        iziToast.success({
                            title: 'Éxito',
                            message: '{{ message }}',
                            position: 'topRight',
                        });
                    {% endfor %}
            {% endif %}
    </script>
    <script type="text/javascript">
      $(document).ready(function () {
        $('#tbl_cita').DataTable({
          dom: 'Bfrtip',
          buttons: [
            {
              extend: 'pdfHtml5',
              messageTop: 'REPORTES DE CLIENTES - DJANGO Y DATATABLES',
              customize: function (doc) {
                // Personaliza el documento PDF aquí
                doc.styles.title = {
                  color: 'green',
                  fontSize: '30',
                  alignment: 'center'
                };
                doc.content[1].margin = [ 100, 0, 100, 0 ]; // Margen superior e inferior
              },
              className: 'btn-pdf', // Clase CSS personalizada para el botón PDF
            },
            {
              extend: 'print',
              title: 'Reportes de Citas - Django y DataTables',
              customize: function (win) {
                // Personaliza la ventana de impresión aquí
                $(win.document.body).css('font-size', '14px');
                $(win.document.body).find('table').addClass('compact').css('font-size', 'inherit');
              },
              className: 'btn-print', // Clase CSS personalizada para el botón de impresión
            },
            {
              extend: 'csv',
              className: 'btn-csv', // Clase CSS personalizada para el botón CSV
            }
          ],
          language: {
            url: "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
          }
        });
      });
      </script>


    {% endblock %}
