{# heredando header y footer#}
{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<h3>Gestion Pacientes</h3>
<hr>
<br> <br> <br> <br> <br> <br><br><br>
    <div class="contenedor">
        <form class="3" action="/guardarPaciente/" method="post" enctype="multipart/form-data" id="frm_nuevo_paciente">
        {% csrf_token %}
                <br>
        <div class="row">
          <div class="row">
              <div class="col-md-6">
                <b>Nombre:</b>
                <br>
                <input type="text" name="nombre" id="nombre" value=""placeholder="Ingrese el nombre del paciente" class="form-control" required>
              </div>
              <div class="col-md-6">
                <b>Cedula:</b>
                <br>
                <input type="number" name="cedula" id="cedula" value=""placeholder="Ingrese la cedula del paciente" class="form-control" required>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                <b>Edad:</b>
                <br>
                <input type="number" name="edad" id="edad" value=""placeholder="Ingrese la edad" class="form-control" required>
              </div>
              <div class="col-md-6">
                <b>Genero:</b>
                <br>
                  <select name="genero" id="genero" class="form-control" required>
                      <option value="">--- Seleccione el genero ---</option>
                      <option value="Masculino" >Masculino </option>
                      <option value="Femenino">Femenino </option>
                  </select>
                </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                <b>Direccion:</b>
                <input type="text" name="direccion" id="direccion" value=""placeholder="Ingrese la direccion" class="form-control" required>
              </div>
              <div class="col-md-6">
                <b>Email:</b>
                <input type="email" name="email" id="email" value=""placeholder="Ingrese el email" class="form-control" required>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                <b>Foto</b>
                <input type="file" name="foto" id="foto" accept="image/*"  class="form-control" >
                <script>
                  $(document).ready(function () {
                      $("#foto").fileinput({
                        //showUpload:false
                        //showRemove: false,
                        language:'es',
                      });
                  });
                </script>
                <br>
              </div>
              <div class="col-md-6">
                <b>Estado:</b>
                  <select name="estado" id="estado" class="form-control" required>
                      <option value="">--- Seleccione el esstado---</option>
                      <option value="ACTIVO">ACTIVO</option>
                      <option value="INACTIVO">INACTIVO</option>
                  </select>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">

              </div>
              <div class="col-md-6">
                <br>
                <br>
                <center>
                  <a href="/"
                  class="btn btn-success">
                    ATRAS
                  </a>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <button type="submit" name="button"
                    class="btn btn-primary">
                      &nbsp;&nbsp;&nbsp;GUARDAR&nbsp;&nbsp;&nbsp;
                    </button>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="reset" name="button" class="btn btn-danger">CANCELAR</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </center>
              </div>

          </div>

          </div>

        </form>

      </div>

  <script type="text/javascript">
      $("#frm_nuevo_paciente").validate({
      rules:{
       "nombre":{
         required:true,
         lettersOnly: true, // Agregamos una regla personalizada

       },
       "cedula": {
         required: true,
         digits: true, // Solo permite dígitos
         minlength: 10, // Longitud mínima de 10 dígitos
         maxlength: 10, // Longitud máxima de 10 dígitos
       },
        "edad": {
          required: true,
          digits: true,
          min: 1, // La edad debe ser mayor que uno
          max: 90 // La edad debe ser menor o igual a 90
        },
        "genero":{
          required:true,
        },
        "direccion":{
          required:true,
        },
        "email": {
          required: true,
          email: true // Valid
        },
        "foto":{
          required: true // La foto es requerida
        },
        "estado":{
          required:true,
        },
      },
      messages:{
       "nombre":{
         required:"Debe ingresar el nombre",
         lettersOnly: "Ingrese solo letras",

       },
       "cedula":{
         required: "El campo cédula es obligatorio",
         digits: "Por favor ingrese solo números",
         minlength: "La cédula debe tener exactamente 10 dígitos",
         maxlength: "La cédula debe tener exactamente 10 dígitos"

       },
       "edad":{
         required: "Debe ingresar la edad",
         digits: "Ingrese solo números",
         min: "La edad debe ser mayor que uno",
         max: "La edad debe ser menor o igual a 90"
       },
       "genero":{
         required:"Debe elegir un genero",
        },
       "direccion":{
         required:"Ingrese la carrera que pertenece al curso",
       },
       "email":{
         required: "Ingrese el correo electrónico",
         email: "Ingrese un correo electrónico válido"
       },
       "foto":{
         required: "Debe adjuntar una foto" // Mensaje de error para el campo de la foto
        },
       "estado":{
         required:"DEbe seleccionar el estado",
       },
      },
      });

      // Agregamos una regla personalizada para validar solo letras
      $.validator.addMethod("lettersOnly", function(value, element) {
       return this.optional(element) || /^[a-zA-Z\sñáéíóúÁÉÍÓÚ]+$/.test(value);
      }, "Solo se permiten letras.");
      // Agregamos una regla personalizada para validar que el número no sea menor que cero
      $.validator.addMethod("minNumber", function(value, element, param) {
      return value >= param;
      }, $.validator.format("Ingrese un número mayor o igual a {0}"));
  </script>





{% endblock %}
