{# heredando header y footer#}
{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<h3>Gestion Pagos</h3>
<hr>
<br> <br> <br> <br>
    <div class="contenedor">
        <form class="3s" action="/guardarPago/" method="post" enctype="multipart/form-data" id="frm_nuevo_pago">
        {% csrf_token %}
                <br>
        <div class="row">
          <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                 <b>Paciente</b><br>
                 <br>
                  <select  name="id_paciente"  id="id_paciente" data-live-search="true" data-live-search-style="startsWith" class="selectpicker"required>
                    <option value=""> Seleccionar el paciente</option>
                    {% for paciente in pacientes %}
                    <option value="{{paciente.id}}">{{paciente.nombre}}</option>
                    {% endfor %}
                  </select>
                </div>
          </div>
          <div class="col-md-6">
            <b>Fecha y Hora:</b>
            <br>
            <br>
            <input type="datetime-local" name="fechaHora" id="fechaHora" value=""placeholder="Ingrese la Descripcion del curso" class="form-control" required>
            <br>
          </div>

          <div class="row">
            <div class="col-md-2">
        </div>
            <div class="col-md-3">
              <b>Total Pago:</b>
              <br>
              <br>
              <input type="number" name="totalPago" id="totalPago" value=""placeholder="Ingrese la Descripcion del curso" class="form-control" required>
            </div>
            <div class="col-md-3">
              <b>Monto Abonado:</b>
              <br>
              <br>
              <input type="number" name="montoAbonado" id="montoAbonado" value=""placeholder="Ingrese la Descripcion del curso" class="form-control" required>
            </div>
            <div class="col-md-2">
              <b>Debe:</b>
              <br>
              <br>
              <input type="number" name="debe" id="debe" value=""placeholder="Ingrese la Descripcion del curso" class="form-control" required>
            </div>
            <div class="col-md-2">
            </div>
            </div>

         </div>

          <div class="row">

            <div class="col-md-4">
            </div>
            <br>
            <br>
            <br>
            <div class="col-md-4">
              <br>
              <br>
                <b>Estado de Pago:</b>
                <br>
                <br>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="estado" id="estado" value="Pendiente">
                    <label class="form-check-label" for="estado_pendiente">
                        Pendiente
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="estado" id="estado_cancelado" value="Parcialmente">
                    <label class="form-check-label" for="estado_parcialmente">
                        Parcialmente
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="estado" id="estado_completado" value="Pagado">
                    <label class="form-check-label" for="estado_pagado">
                        Pagado
                    </label>
                </div>
            </div>
            <div class="col-md-4">
            </div>

          </div>

              <div class="row">

          </div>
          <div class="row">
              <div class="col-md-6">

              </div>
              <div class="col-md-6">
                </div>
            </div>
                <br>
                <br>
                <center>
                  <a href="/"
                  class="btn btn-success">
                    ATRAS
                  </a>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <button type="submit" name="button"
                    class="btn btn-primary">
                      &nbsp;&nbsp;&nbsp;GUARDAR&nbsp;&nbsp;&nbsp;
                    </button>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="reset" name="button" class="btn btn-danger">CANCELAR</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </center>
              </div>
          </form>

          </div>

          <script type="text/javascript">
          $(document).ready(function() {
            $("#frm_nuevo_pago").validate({
              rules: {
                "id_paciente": {
                  required: true,
                },
                "fechaHora": {
                  required: true,
                  fechaActual: true // Utilizamos la regla personalizada "fechaActual"
                },
                "totalPago": {
                  required: true,
                  number: true,
                  min: 0,
                },
                "montoAbonado": {
                  required: true,
                  number: true,
                  min: 0,
                },
                "debe": {
                  required: true,
                  number: true,
                  min: 0,
                },
                "estado": {
                  required: true,
                },
              },
              messages: {
                "id_paciente": {
                  required: "Por favor, seleccione un paciente.",
                },
                "fechaHora": {
                  required: "Por favor, ingrese la fecha y hora correcta.",
                  fechaActual: "La fecha y hora debe ser desde la actual" // Mensaje de error personalizado para la regla "fechaActual"

                },
                "totalPago": {
                  required: "Por favor, ingrese el monto total del pago.",
                  number: "Por favor, ingrese un número válido.",
                  min: "El monto total del pago debe ser mayor o igual a cero.",
                },
                "montoAbonado": {
                  required: "Por favor, ingrese el monto abonado.",
                  number: "Por favor, ingrese un número válido.",
                  min: "El monto abonado debe ser mayor o igual a cero.",
                },
                "debe": {
                  required: "Por favor, ingrese el monto pendiente.",
                  number: "Por favor, ingrese un número válido.",
                  min: "El monto pendiente debe ser mayor o igual a cero.",
                },
                "estado": {
                  required: "Por favor, seleccione un estado para el pago.",
                },
              },
            });
          });
        </script>
        <script type="text/javascript">
          $(document).ready(function() {
            // Función para actualizar el monto pendiente
            function actualizarDebe() {
              var totalPago = parseFloat($("#totalPago").val()); // Obtener el monto total del pago como número flotante
              var montoAbonado = parseFloat($("#montoAbonado").val()); // Obtener el monto abonado como número flotante
              var debe = totalPago - montoAbonado; // Calcular el monto pendiente
              $("#debe").val(debe.toFixed(2)); // Mostrar el monto pendiente en el campo correspondiente, con dos decimales
            }

            // Ejecutar la función actualizarDebe cuando cambien los valores de totalPago o montoAbonado
            $("#totalPago, #montoAbonado").on("change", function() {
              actualizarDebe(); // Llamar a la función para actualizar el monto pendiente
            });

            // Llamar a la función actualizarDebe al cargar la página para calcular el debe inicial
            actualizarDebe();
          });
        </script>
      <script type="text/javascript">
      $.validator.addMethod("fechaActual", function(value, element) {
      var fechaActual = new Date();
      var fechaIngresada = new Date(value);
      var fechaLimite = new Date();
      fechaLimite.setFullYear(fechaActual.getFullYear() + 6); // Ajustamos el año límite a 6 años en el futuro (2030)
      return fechaActual <= fechaIngresada && fechaIngresada <= fechaLimite;
      }, "La fecha debe ser desde la actual hasta el 2030.");
      </script>

{% endblock %}
