{% load static %}
<!DOCTYPE html>
<html lang="es" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- Importación de jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <!-- Bootstrap 5 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Select CSS para Bootstrap 5 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css">

    <!-- Bootstrap Bundle JS (obligatorio) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

    <!-- Bootstrap Select JS para Bootstrap 5 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js"></script>

    <!-- Importación de jquery-validate -->
    <script type="text/javascript" src="{% static 'libs/jquery-validate/jquery.validate.js' %}"></script>

    <!-- Importación de Bootstrap Fileinput -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.8/css/fileinput.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.8/js/fileinput.min.js"></script>

    <!-- Español Fileinput -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.8/js/locales/es.min.js"></script>

    <!-- Importación de iziToast -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js" integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css" integrity="sha512-DIW4FkYTOxjCqRt7oS9BFO+nVOwDL4bzukDyDtMO7crjUZhwpyrWBFroq+IqRe6VnJkTpRAS6nhDvf0w+wHmxg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Importación de DataTables -->
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Favicon y estilos -->
    <link rel="shortcut icon" type="image/png" href="{% static 'img/logos/favicon.png'%}" />
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" />

    <!-- Agrega estos scripts antes de tu script actual de DataTables -->

    <!-- Agrega el enlace al archivo fabric.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.5.0/fabric.min.js"></script>
    <title></title>
</head>

  <body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
      data-sidebar-position="fixed" data-header-position="fixed">
      <!-- Sidebar Start -->
      <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div>
          <div class="brand-logo d-flex align-items-center justify-content-between">
            <a href="/" class="text-nowrap logo-img">
              <img src="{% static 'img/logo.png'%}" width="120" alt="" />
            </a>
            <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
              <i class="ti ti-x fs-8"></i>
            </div>
          </div>
          <!-- Sidebar navigation-->
          <nav class="sidebar-nav scroll-sidebar " data-simplebar="">
            <ul id="sidebarnav">
              <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu">Home</span>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="/" aria-expanded="false">
                  <span>
                    <i class="fa-solid fa-suitcase-medical"></i>
                  </span>
                  <span class="hide-menu">INICIO</span>
                </a>
              </li>
              <li class="nav-small-cap">
                <i class="fa-solid fa-face-mask"></i>
                <span class="hide-menu">UI COMPONENTS</span>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="/paciente/" aria-expanded="false">
                  <span>
                    <i class="fa-solid fa-hospital-user"></i>
                  </span>
                  <span class="hide-menu">PACIENTES</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="/cita/" aria-expanded="false">
                  <span>
                    <i class="fa-solid fa-chalkboard-user"></i>
                  </span>
                  <span class="hide-menu">CITAS</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="/control/" aria-expanded="false">
                  <span>
                    <i class="fa-solid fa-file-signature"></i>
                  </span>
                  <span class="hide-menu">CONTROL</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="/receta/" aria-expanded="false">
                  <span>
                    <i class="fa-solid fa-file-prescription"></i>
                    </span>
                  <span class="hide-menu">RECETAS</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="/tratamiento/" aria-expanded="false">
                  <span>
                    <i class="fa-solid fa-tablets"></i>
                  </span>
                  <span class="hide-menu">TRATAMIENTOS</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="/pago/" aria-expanded="false">
                  <span>
                    <i class="fa-solid fa-money-bill-trend-up"></i>
                  </span>
                  <span class="hide-menu">PAGOS</span>
                </a>
              </li>
              <li class="sidebar-item">
      
              </li>

            </ul>
            <div class="unlimited-access hide-menu bg-light-primary position-relative mb-7 mt-5 rounded">
              <div class="d-flex">
                <div class="unlimited-access-title me-3">
                  <h6 class="fw-semibold fs-4 mb-6 text-dark w-85">Upgrade to pro</h6>
                  <a href="https://adminmart.com/product/modernize-bootstrap-5-admin-template/" target="_blank" class="btn btn-primary fs-2 fw-semibold lh-sm">Buy Pro</a>
                </div>
                <div class="unlimited-access-img">
                  <img src="{% static 'img/backgrounds/rocket.png'%}" alt="" class="img-fluid">
                </div>
              </div>
            </div>
          </nav>
          <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
      </aside>
      <!--  Sidebar End -->
      <!--  Main wrapper -->
      <div class="body-wrapper ">
        <!--  Header Start -->
        <header class="app-header">
          <nav class="navbar navbar-expand-lg navbar-light">
            <ul class="navbar-nav">
              <li class="nav-item d-block d-xl-none">
                <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                  <i class="ti ti-menu-2"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                  <i class="ti ti-bell-ringing"></i>
                  <div class="notification bg-primary rounded-circle"></div>
                </a>
              </li>
            </ul>
            <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
              <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                <a href="/cita/"class="enlace-con-borde">RESERVAR CITA</a>
                <li class="nav-item dropdown">
                  <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <img src="{% static 'img/foto.png'%}" alt="" width="35" height="35" class="rounded-circle">
                  </a>
                  <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                    <div class="message-body">
                      <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                        <i class="ti ti-user fs-6"></i>
                        <p class="mb-0 fs-3">My Profile</p>
                      </a>
                      <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                        <i class="ti ti-mail fs-6"></i>
                        <p class="mb-0 fs-3">My Account</p>
                      </a>
                      <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                        <i class="ti ti-list-check fs-6"></i>
                        <p class="mb-0 fs-3">My Task</p>
                      </a>
                      <a href="/" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
        </header>
        <!--  Header End -->
        <div class="container-fluid">
          <!--  Row 1 -->




        </div>
      </div>
    </div>

    <script src="{% static 'js/sidebarmenu.js'%}"></script>
    <script src="{% static 'js/app.min.js'%}"></script>
    <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js'%}"></script>
    <script src="{% static 'libs/simplebar/dist/simplebar.js' %}'"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
    {% block contenido %}
    {%endblock%}


    <br>

      {% if messages %}
          {% for mensaje in messages %}
          <script type="text/javascript">
              {% if "eliminado" in mensaje %}
                  iziToast.success({
                      title: 'ELIMINADO',
                      message: '{{ mensaje }}',
                      position: 'topRight',
                  });
              {% elif "guardado" in mensaje %}
                  iziToast.success({
                      title: 'Éxito',
                      message: '{{ mensaje }}',
                      position: 'topRight',
                  });
              {% endif %}
          </script>

      {% endfor %}
  {% endif %}




  </body>
</html>
