{# heredando header y footer#}
{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}

<h3>Gestion Recetas</h3>
<hr>
<br>
<br>
<br>
    <div class="contenedor">
        <form class="3" action="/guardarReceta/" method="post" enctype="multipart/form-data" id="frm_nuevo_receta">
          {% csrf_token %}
        <div class="row">
          <div class="row">
            <div class="col-md-6">
               <b>Paciente</b>
              <br>
              <br>
              <select  name="id_paciente"  id="id_paciente" data-live-search="true" data-live-search-style="startsWith" class="selectpicker"required>
                <option value=""> Seleccionar el paciente</option>
                {% for paciente in pacientes %}
                <option value="{{paciente.id}}">{{paciente.nombre}}</option>
                {% endfor %}
              </select>
              <br>
              <br>
            </div>
            <div class="col-md-6">
              <b>Fecha prescripcion:</b>
              <br>
              <br>
              <input type="date" name="fechaPrescripcion" id="fechaPrescripcion" value=""placeholder="Ingrese la Descripcion del curso" class="form-control" required>
            </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <b>Medicamentos:</b>
                  <br>
                  <br>
                  <input name="medicamento" id="medicamento" placeholder="Ingrese la Descripción del curso" class="form-control" rows="3" required>
              </div>
              <div class="col-md-6">
                <b>Duracion:</b>
                <br>
                <br>
                <input type="text" name="duracion" id="duracion" value=""placeholder="Ingrese la Descripcion del curso" class="form-control" required>
                <br>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <b>Recetas:</b>
                  <br>
                  <br>
              <textarea name="receta" id="receta" placeholder="Ingrese la Descripción del curso" class="form-control" rows="3" required></textarea>
              </div>
              <div class="col-md-6">
                <b>Instrucciones:</b>
                <br>
                <br>
                <textarea  name="instrucciones" id="instrucciones" placeholder="Ingrese la Descripcion del curso" class="form-control" rows="3" required></textarea>
                <br>
                <br>
                <br>
              </div>
          </div>
                <center>
                  <a href="/"
                  class="btn btn-success">
                    ATRAS
                  </a>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <button type="submit" name="button"
                    class="btn btn-primary">
                      &nbsp;&nbsp;&nbsp;GUARDAR&nbsp;&nbsp;&nbsp;
                    </button>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="reset" name="button" class="btn btn-danger">CANCELAR</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </center>

              </form>

          </div>


          <script type="text/javascript">
          $(document).ready(function() {
            $("#frm_nuevo_receta").validate({
              rules: {
                "id_paciente": {
                  required: true,
                },
                "fechaPrescripcion": {
                  required: true,
                  fechaActual: true // Utilizamos la regla personalizada "fechaActual"

                },
                "medicamento": {
                  required: true,
                },
                "duracion": {
                  required: true,
                },
                "receta": {
                  required: true,
                  minlength: 10, // Establece una longitud mínima

                },
                "instrucciones": {
                  required: true,
                  minlength: 10, // Establece una longitud mínima

                },
              },
              messages: {
                "id_paciente": {
                  required: "Por favor, seleccione un paciente.",
                },
                "fechaPrescripcion": {
                  required: "Por favor, ingrese la fecha de prescripción.",
                  fechaActual: "La fecha debe ser desde la actual" // Mensaje de error personalizado para la regla "fechaActual"

                },
                "medicamento": {
                  required: "Por favor, ingrese el medicamento.",
                },
                "duracion": {
                  required: "Por favor, ingrese la duración del tratamiento.",
                },
                "receta": {
                  required: "Por favor, ingrese los detalles de la receta.",
                  minlength: "La receta debe tener al menos 10 caracteres.",

                },
                "instrucciones": {
                  required: "Por favor, ingrese las instrucciones.",
                  minlength: "Las instrucciones deben tener al menos 10 caracteres.",

                },
              },
            });
          });
        </script>
        <script type="text/javascript">
        $.validator.addMethod("fechaActual", function(value, element) {
        var fechaActual = new Date();
        var fechaIngresada = new Date(value);
        var fechaLimite = new Date();
        fechaLimite.setFullYear(fechaActual.getFullYear() + 6); // Ajustamos el año límite a 6 años en el futuro (2030)
        return fechaActual <= fechaIngresada && fechaIngresada <= fechaLimite;
        }, "La fecha debe ser desde la actual hasta el 2030.");
        </script>



    {% endblock %}
