{# heredando header y footer#}
{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<h3>Gestion Tratamientos de los pacientes</h3>
<hr>
<br> <br> <br> <br>
    <div class="contenedor">
        <form class="3" action="/guardarTratamiento/" method="post" enctype="multipart/form-data" id="frm_nuevo_tratamiento">
        {% csrf_token %}
        <div class="row">
          <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <b>Paciente</b><br>
                  <select  name="id_paciente"  id="id_paciente" data-live-search="true" data-live-search-style="startsWith" class="selectpicker"required>
                    <option value=""> Seleccionar el paciente</option>
                    {% for paciente in pacientes %}
                    <option value="{{paciente.id}}">{{paciente.nombre}}</option>
                    {% endfor %}
                  </select>
                </div>
          </div>
          <div class="col-md-6">
          <b>Tipos de Tratamientos</b>
          <select name="tipoTratamiento" id="tipoTratamiento" class="form-control" required>
              <option value="">--- Seleccione el tipo de tratamiento ---</option>
              <option value="Limpieza dental">Limpieza dental</option>
              <option value="Extracción de dientes">Extracción de dientes</option>
              <option value="Empastes">Empastes</option>
              <option value="Endodoncia">Endodoncia</option>
              <option value="Ortodoncia">Ortodoncia</option>
              <option value="Implantes dentales">Implantes dentales</option>
              <option value="Blanqueamiento dental">Blanqueamiento dental</option>
              <option value="Tratamiento de caries">Tratamiento de caries</option>
              <option value="Coronas dentales">Coronas dentales</option>
              <option value="Incrustaciones dentales">Incrustaciones dentales</option>
              <option value="Cirugía maxilofacial">Cirugía maxilofacial</option>
              <option value="Odontopediatría">Odontopediatría</option>
              <option value="Periodoncia">Periodoncia</option>
          </select>
          <br>
           </div>
         </div>
          <div class="row">
            <div class="col-md-6">
                <b>Detalles:</b>
                <br>
                <br>
            <textarea name="detalles" id="detalles" placeholder="Ingrese la Descripción del curso" class="form-control" rows="3" required></textarea>
            </div>
            <div class="col-md-3">
              <b>Fecha Inicio:</b>
              <br>
              <br>
              <input type="date" name="fechaInicio" id="fechaInicio" value=""placeholder="Ingrese la Descripcion del curso" class="form-control" required>
            </div>
            <div class="col-md-3">
              <b>Fecha Fin:</b>
              <br>
              <br>
              <input type="date" name="fechaFin" id="fechaFin" value=""placeholder="Ingrese la Descripcion del curso" class="form-control" required>
            </div>
            </div>
          <div class="row">

            <div class="col-md-6">
              <b>Instrucciones:</b>
              <br>
              <br>
              <textarea name="instrucciones" id="instrucciones" placeholder="Ingrese la descripción" class="form-control" required rows="5" cols="50"></textarea>
            </div>
            <div class="col-md-6">
                <b>Estado:</b>
                <br><br>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="estado" id="estado_activo" value="activo">
                    <label class="form-check-label" for="estado_activo">
                        Activo
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="estado" id="estado_cancelado" value="cancelado">
                    <label class="form-check-label" for="estado_cancelado">
                        Cancelado
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="estado" id="estado_completado" value="completado">
                    <label class="form-check-label" for="estado_completado">
                        Completado
                    </label>
                </div>
            </div>


          </div>

              <div class="row">

          </div>
          <div class="row">
              <div class="col-md-6">

              </div>
              <div class="col-md-6">
                </div>
            </div>
                <br>
                <br>
                <center>
                  <a href="/"
                  class="btn btn-success">
                    ATRAS
                  </a>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <button type="submit" name="button"
                    class="btn btn-primary">
                      &nbsp;&nbsp;&nbsp;GUARDAR&nbsp;&nbsp;&nbsp;
                    </button>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="reset" name="button" class="btn btn-danger">CANCELAR</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </center>
              </div>
          </form>

          </div>

          <script type="text/javascript">
            $(document).ready(function() {
              $("#frm_nuevo_tratamiento").validate({
                rules: {
                  "id_paciente": {
                    required: true,
                  },
                  "tipoTratamiento": {
                    required: true,
                  },
                  "detalles": {
                    required: true,
                    minlength: 10, // Establece una longitud mínima
                  },
                  "fechaInicio": {
                    required: true,
                    fechaActual: true,
                  },
                  "fechaFin": {
                    required: true,
                    fechaMayorQueInicio: true,
                  },
                  "instrucciones": {
                    required: true,
                    minlength: 10, // Establece una longitud mínima
                  },
                  "estado": {
                    required: true,
                  },
                },
                messages: {
                  "id_paciente": {
                    required: "Por favor, seleccione un paciente.",
                  },
                  "tipoTratamiento": {
                    required: "Por favor, seleccione un tipo de tratamiento.",
                  },
                  "detalles": {
                    required: "Por favor, ingrese los detalles del tratamiento.",
                    minlength: "La descripción debe tener al menos 10 caracteres.",
                  },
                  "fechaInicio": {
                    required: "Por favor, ingrese la fecha de inicio del tratamiento.",
                    fechaActual: "La fecha de inicio debe ser a partir de la actual.",
                  },
                  "fechaFin": {
                    required: "Por favor, ingrese la fecha de fin del tratamiento.",
                    fechaMayorQueInicio: "La fecha de fin debe ser posterior a la fecha de inicio.",
                  },
                  "instrucciones": {
                    required: "Por favor, ingrese las instrucciones.",
                    minlength: "Las instrucciones deben tener al menos 10 caracteres.",
                  },
                  "estado": {
                    required: "Por favor, seleccione un estado para el tratamiento.",
                  },
                },
              });

              $(".datepicker").datepicker({
                dateFormat: 'yy-mm-dd', // Establece el formato de la fecha
                changeMonth: true, // Permite cambiar el mes
                changeYear: true, // Permite cambiar el año
                yearRange: "-100:+0" // Rango de años, desde 100 años en el pasado hasta el presente
              });

              $.validator.addMethod("fechaMayorQueInicio", function(value, element) {
                var fechaInicio = $("#fechaInicio").datepicker("getDate");
                var fechaFin = $("#fechaFin").datepicker("getDate");
                if (fechaInicio && fechaFin) { // Verifica que ambas fechas se hayan seleccionado
                    return fechaInicio < fechaFin;
                }
                return true; // Si no se ha seleccionado una fecha, se considera válida
              }, "La fecha de fin debe ser posterior a la fecha de inicio.");

              $.validator.addMethod("fechaActual", function(value, element) {
                var fechaActual = new Date();
                var fechaIngresada = new Date(value);
                var fechaLimite = new Date();
                fechaLimite.setFullYear(fechaActual.getFullYear() + 6); // Ajustamos el año límite a 6 años en el futuro (2030)
                return fechaActual <= fechaIngresada && fechaIngresada <= fechaLimite;
              }, "La fecha debe ser desde la actual hasta el 2030.");
            });
        </script>


{% endblock %}
